# Package: `pandas`
The basic data structure for `pandas` is `pandas.DataFrame`. You may treat it as a generalized version of tables.

To use `pandas`, we just import it. In most cases you would like to use the alias `pd`.

In [ ]:
#| eval: false
import pandas as pd

Since `DataFrame` is more like a table, the biggest questions here is not to do computations (which is still very important), but to retrieve, search, sort, merge, etc.. those data. 








## Basic `pandas`

###  `Series` and `DataFrame`
A *Series* is a 1-d array-like object which has index. The default index is starting from `0`. You may change the index to be something assigned by you. Thus it can be treated as a generalization of a `dict`.

In [ ]:
#| echo: false
import pandas as pd

In [ ]:
obj = pd.Series([3, 1, 2, 4])
obj

In [ ]:
obj2 = pd.Series([3, 1, 2, 4], index=['a', 'b', 'c', 'd'])
obj2

In [ ]:
data3 = {'a': 3, 'b': 1, 'c': 2, 'd': 4}
obj3 = pd.Series(data3)
obj3

A *DataFrame* represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type. The DataFrame has both a row and column index; it can be thought of as a dict of Series all sharing the same index. When displaying a DataFrame, we may use `.head()` to just display the first few rows for efficicy.

In [ ]:
import pandas as pd

data = {'a': [1, 2, 3, 4, 5, 6, 7],
        'b': [1.1, 2.1, 3.1, 4.1, 5.1, 6.1, 7.1],
        'c': ['a', 'b', 'c', 'd', 'e', 'f', 'g']}
df = pd.DataFrame(data)
df.head()

### Decorations
A `Series` or a `DataFrame` might have named row indexes and column names. I collect some tools for you to play with them and list them below.


::: {.callout-note collapse="true"}
# Setting when creating
We may use the setting `columns=` or `index=` to change the column names and the index names. See the following example.

In [ ]:
import numpy as np
import pandas as pd
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

:::


::: {.callout-note collapse="true"}
# `.rename()`
We may use the `.rename()` method. Note that by default the return value of this method is a copy and it won't affect the original `DataFrame`. The arguments can be in many different formats. Please see [the official document](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html) for more details.

If you want to directly make the change, please use the argument `inplace=True`.

The following example shows the standard way to rename.

In [ ]:
df = pd.DataFrame(np.arange(16).reshape((4, 4)))
df.rename(columns={0: 'zero'}, index={2: 'two'})

However the orginal `df` is not affected.

In [ ]:
df

If you would like to change the original `df`, you may either set `df = df.rename(columns={0: 'zero'}, index={2: 'two'})`, or

In [ ]:
df.rename(columns={0: 'zero'}, index={2: 'two'}, inplace=True)
df

:::

::: {.callout-note collapse="true"}
# Set a column to be the index by `.set_index()`

The title is all. A few remarks:

1. You may set multiple columns to be the index. In this case, what you get is a multi-index system (which is also called Hierarchical indexing). We will talk about this later in @sec-hierindexing.
2. The argument `drop` is used to control whether the column is deleted after you set it to be the index. The default setting is `True`.
3. The argument `append` is used to control whether the column you choose is appended to the exsiting index to form a multi-index system. The default is `False`.
4. The argument `inplace` is used to control whether you want to make the change inplace. The default is `False`.

:::

::: {.callout-note collapse="true"}
# Reset the index by `.reset_index()`

The title is all. A few remarks:

1. The new index is integers starting from `0`.
2. `drop` is an argument to control whether the original index is dropped or added back to the `DataFrame` as a column. The default is `False`, which means that by default the original index will be added back to the `DataFrame`. 
:::

### Look at the `DataFrame`
The following methods can be used to look at the `DataFrame`. Their syntax is very simple. Please try them by yourselves.

- `.head()`: show the first few rows.
- `.tail()`: show the last few rows.
- `.describe()`: show the basic statistics of each columns.

These are methods for `Series` which might be helpful to understand the data. 

- `.unique()`
- `.value_counts()`


::: {.callout-note collapse="true"}
# An example

In [ ]:
import pandas as pd

df = pd.DataFrame({'a': [1, 2, 3, 1, 2, 2, 1, 1, 1],
                   'b': [3, 1, 1, 2, 4, 5, 2, 1, 3]})
df.head(3)

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df['a'].unique()

In [ ]:
df['b'].value_counts()

:::








## Indexing
The act of selecting rows or columns to access from a dataframe or series is called *indexing*. There are many different ways to index in `pandas`. We will only cover the most popular ones.


::: {.callout-caution collapse="true"}
There is the same copy and view issue with `pandas` as in `numpy`. However it is more complicated and more inconsistent. Please check the official documents for more details and do more experiments before implementing the codes. Usually if your code is ambiguous, you might see the infamous `SettingWithCopyWarning` warning.

In [ ]:
#| warning: true
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})
df[df['a']==3]['b'] = 3

Note that `pandas` is testing a `copy-on-write` feature to fix the issue. The feature can be simlified as "any `DataFrame` or `Series` derived from another in any way always behaves as a copy". Please keep an eye on the updates about when the feature will be fully implemented in `pandas`.
:::


### `[]`

::: {.callout-note collapse=true}
## `Series[]`

In [ ]:
#| echo: false

from IPython.display import Markdown
import pandas as pd
from tabulate import tabulate
table = [['`Series[label]`', 'scalar value'],
         ['`Series[list of labels]`', '`Series` corresponding to labels'],
         ['`Series[slice]`', '`Series` corresponding to the slice'],
         ['`Series[boolean vector]`', '`Series` corresponding to the boolean vector']]
        #  ['DataFrame', '`dateframe[colname]`', '`Series` corresponding to colname'],
        #  ['DataFrame', '`dataframe[list of colnames]`', '`DataFrame` corresponding to colnames']]
# table = {"Object Type": ['Series', 'DataFrame'],
        #  "Selection": ['`series[label]`', '`dateframe[colname]`'],
        #  "Return Value Type": ['scalar value', '`Series` corresponding to colname']}
# Markdown(pd.DataFrame(table))
# df = pd.DataFrame(table)
Markdown(tabulate(table, headers=["Input value type",
                                  "Return Value Type" ]))

1. For `Series`, values are accessed by labels, not positions. Since `Series` are usually considered as a column, you may think these labels as row indexes. 

2. When using slice, things becomes more complicated. There are two ways of using slice. You may either slice by positions, or slice by labels. The main differences between them is that:

- slice by positions `Series[i:j]` doesn't contain the last index `Series[j]`;
- slice by labels `Sereies[I:J]` contains the last label `Series[J]`.

3. Sometimes the labels of a series are integers, but different than the position indexes. In `pandas 1.5.1`, slice by positions takes priority. However the whole scenario is very confusing, and this will be changed in future versions. In this cases it is recommanded to use `.loc` and `.iloc`.  

4. When indexing using boolean vector, the vector should be of the same length as the `Series`. In other words, it works as the boolean bector shows which row is selected.

See some examples below.


::: {#exm-}

In [ ]:
import pandas as pd

example = pd.Series({'a': 1.1, 'b': 2.2, 'c': 3.3, 'd': 4.4})
example

In [ ]:
example['b']

In [ ]:
example[['b', 'a']]

In [ ]:
example[0:2]

In [ ]:
example['a':'c']

In [ ]:
example[[True, False, True, False]]

:::

:::


::: {.callout-note collapse=true}
## `DataFrame[]`

In [ ]:
#| echo: false

from IPython.display import Markdown
import pandas as pd
from tabulate import tabulate
table = [[ '`DataFrame[colname]`', 'The column corresponding to colname as a `Series`'],
         ['`DataFrame[list-of-colnames]`', 'The columns of `DataFrame` corresponding to colnames'],
         ['`DataFrame[slice]`', 'The rows of `DataFrame` corresponding to the slice' ],
         ['`DataFrame[boolean list]`', '`DataFrame` corresponding to the boolean list']]
# table = {"Object Type": ['Series', 'DataFrame'],
        #  "Selection": ['`series[label]`', '`dateframe[colname]`'],
        #  "Return Value Type": ['scalar value', '`Series` corresponding to colname']}
# Markdown(pd.DataFrame(table))
# df = pd.DataFrame(table)
Markdown(tabulate(table, headers=["Input value type",
                                  "Return Value Type" ]))

1. Slice for `DataFrame` behaves exactly like slice for `Series`, that it is selecting rows, and it works for both labels and positions. Similarly, slicing by positions are not recommended and might be deprecated in the future. 
2. On the other hand side, selecting rows are usually related to querying. Therefore it is better not to focus on slicing.
3. Inside `[]`, one column name and a list of columna names will result totally different objects: one is a `Series` and the other is a `DataFrame`. 
4. In prior versions, using `[list-of-colnames]` would work as long as *at least* 1 of the keys was found (otherwise it would raise a `KeyError`). This behavior was changed and will now raise a `KeyError` if at least one label is missing. The recommended alternative is to use `.reindex()`.
5. When indexing using boolean vector, the vector should be of the same length as the number of rows of the `DataFrame`. In other words, it works as the boolean bector shows which row is selected.
6. Using `[]` for `DataFrame` cannot give you a single value, since what are inside `[]` is always treated as a row index or a column index. If you want to get access to the value of a single cell by both row index and column index, use other method like `.loc[]`.
7. If the column name is eligible for attributes, you may also use `df.a` to represent `df['a']` for simplicity.

::: {#exm-}

In [ ]:
import pandas as pd

example = pd.DataFrame({'a': [1.1, 2.2], 'b': [2.2, 3.3], 'c': [3.3, 4.4]})
example

In [ ]:
example['a']

In [ ]:
example.a

In [ ]:
example[['a']]

In [ ]:
example[0:1]

In [ ]:
example[[False, True]]

:::

:::





### `.loc[]` and `.iloc[]`

`[]` contains several different types of ways to access data. `.loc[]` and `.iloc[]` are more specific. 

- `.loc[]` is to use labels to access data.
- `.iloc[]` is to use positions to access data.


:::{.callout-note collapse=true}
## Notes for `.loc[]` and `.iloc[]`

1. When there is only one index is specified, it is refered to rows. 
2. When using both indexes, the first is row index and the second is column index.
3. When selecting all rows/columns, you may put `:` in the corresponding place.
4. `df.loc[1, 'a']` refers to the cell in the DataFrame `df` whose row index is `1` and column index is `a`. `df[1, 'a']` refers to the column in the DataFrame `df` whose column name is `(1, 'a')`.
5. Many other small details are very similar to `[]`. For example, pay attention to the differences between `df.loc[:, 'a']` and `df.loc[:, ['a']]`.


::: {#exm-}

In [ ]:
import pandas as pd
example = pd.DataFrame({'a': [1.1, 2.2], 'b': [2.2, 3.3], 'c': [3.3, 4.4]})
example

In [ ]:
example.loc[1]

In [ ]:
example.loc[:, 'a']

In [ ]:
example.loc[1, 'a']

In [ ]:
example.iloc[0:1, 0:2]

In [ ]:
example.iloc[1, 0:2]

In [ ]:
example.iloc[[1], 0:2]

:::
:::




### Boolean indexing
Let `df` be a `DataFrame`. Assume that `boo` is boolean vector of the dimension same to the number of rows of `df`, then we can use `df[boo]` to filter data: all rows with `True` will be selected. The syntax is similar to the boolean indexing in `numpy`.


::: {.callout-note collapse="true"}
# The basic usage of boolean indexing

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(8, 4),
                  index=pd.date_range('1/1/2023', periods=8),
                  columns=['A', 'B', 'C', 'D'])
df

In [ ]:
df[df['A']>0]

To get the boolean vector, we may directly compute logic expression using columns of `df`. The previous example is of this kind.

You may write complicated expressions. The operators are:

- `|` for or
- `&` for and
- `~` for not

Note that parentheses **must** be used to ensure a correct result. Please see the following example.

In [ ]:
df[(df['A'] > 1) & (df['B'] < 3)]

:::

<!-- One method that is usually use is `.isin()` method. This is used to check whether the entry of the `Series` belongs to a `list`. -->

There are many methods and functions that can create boolean vectors. We will introduce them when we need them.



### `.query()`
`DataFrame` has a `.query()` method that allows filtering using an expression instead of a boolean vector. This method uses a different approach from the point of programming language. From the point of users, you are free to choose between `.query()` and boolean indexing to filter data.


::: {.callout-note collapse="true"}
# Here are examples of `.query()`.

In [ ]:
df = pd.DataFrame({'A': [1,2,3], 'B': [3,2,1], 'C': [5,4,3]})
df

In [ ]:
df.query('A<B and B<C')

It can be simplified as follows:

In [ ]:
df.query('A<B<C')

This is the same as the following code.

In [ ]:
df[(df['A']<df['B']) & (df['B']<df['C'])]

Note that `.query()` does not require the usage of parentheses. It also use English like `or`/`and`/`not` for `|`/`&`/`~`.

In [ ]:
df.query('A in C')

In [ ]:
df.query('A not in C')

In [ ]:
df.query('A not in C and A<B')

In [ ]:
df.query('[1,2] in B')

:::


### Reindex

`.reindex()` is a data alignment method in `pandas`. To reindex means to conform the data to match a given set of labels along a particular axis. This accomplishes several things:

- Reordering the existing data to match a new set of labels
- Inserting missing value (`NaN`) markers in label locations where no data for that label existed

Here is a simple example:

In [ ]:
import pandas as pd
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.reindex(index = ['Colorado', 'Arkansas', 'New York'],
             columns = ['three', 'five', 'one'])

From the first glance, `.reindex()` behave the same as other indexing methods. Here are a few differences:

- The purpose of indexing methods is to select/filter data, while the purpose of reindex is to make the data in a very specific form.
- When dealing with non-existent indexes/columns, most other indexing methods will return error or warning, while `.reindex()` can handle it automatically.
- The default setting of `.reindex()` is to return a copy. This setting can be changed by the argument `copy=False`. 

For more details please see the [official guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#reindexing). 








<!-- 

- Series indexing `(obj[...])` works analogously to NumPy array indexing, except you
can use the Seriesâ€™s index values instead of only integers. 





- We can use logical expresssion to filter DataFrame.

In [ ]:
import pandas as pd

data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data[data['one']>5]

- `.loc`, `.iloc`

In [ ]:
import pandas as pd
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
print(data.loc['Colorado', ['two', 'three']])
print(data.iloc[2, [3, 0, 1]])

- Slicing with labels behaves differently than normal Python slicing in that the endpoint is inclusive.

In [ ]:
import pandas as pd

obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj['b':'c']

- Reindex `.reindex()`:


::: {.callout-note}
:::
 -->





### Updating data
- Assign values to a column of a DataFrame will update that column. If the column doesn't exist, new column will be created. This is called *enlargement*. 
- When assign values with non-existent row index, that part of the data will be discarded. 
- When using `.loc`, a `DataFrame` can be enlarged on either axis.
- Any time if there are no values with a specific column and row, it will show as `NaN`. 
<!-- - When locating data using indexes, duplicate labels will return all results. -->

::: {#exm-}

In [ ]:
import pandas as pd

data = {'a': [1, 2, 3, 4],
        'b': [1.1, 2.1, 3.1, 4.1],
        'c': ['a', 'b', 'c', 'd']}
df = pd.DataFrame(data)

newcol = {1: 'good', 3: 'better', 5: 'best'}
df['d'] = pd.Series(newcol)
df

:::




## Data cleaning

### Handling Missing Data

- `np.nan`, `pd.NA`
- `pd.isnull()`, `np.isnan()`
- `.dropna()`, `.fillna()`


::: {.callout-note collapse="true"}
# `.dropna()` example

In [ ]:
import pandas as pd
import numpy as np

data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan], 
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])
data

In [ ]:
data.dropna()

In [ ]:
data.dropna(how='all')

In [ ]:
data[4] = np.nan
data

In [ ]:
data.dropna(axis=1, how='all')

In [ ]:
data.dropna(thresh=2)

:::

::: {.callout-note collapse="true"}
# `.fillna()` example

In [ ]:
data.fillna(0)

In [ ]:
data.fillna({1: 0.5, 2: -0.1})

:::




::: {.callout-note collapse="true"}
# Arithmetic and Data Alignment

Elements of the same index and columns will be computed. By default, if any entry is `nan`, the answer will be `nan`. You may use `fill_value` argument to fill the empty slots. Please see the following example.

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
df2.loc[1, 'b'] = np.nan

df1.add(df2, fill_value=0)

Relatedly, when reindexing a Series or DataFrame, you can also specify a `fill_value`.

:::


### Handling duplicates


::: {.callout-note collapse="true"}
# `.drop_duplicates()` example

In [ ]:
import numpy as np
import pandas as pd

data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'], 
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data.drop_duplicates(['k1'], keep='last')

:::

### Drop data
You may use `.drop()` to drop columns or rows.

1. If you directly apply `.drop()` to an index, that index is considered as a row index.
2. To drop a column, you need to specify the argument `columns=`.
3. There is still the `inplace=` issue.

### String Manipulation

When the column `Series` is of type `str`, all methods in `pd.Series.str` will be applied to each entry of the Series.


::: {.callout-note collapse="true"}
# Some basic examples

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series(["A ", " B ", "C", "Aaba", " Baca ", np.nan, "CABA", "dog", "cat"])
s

In [ ]:
s.str.lower()

In [ ]:
s.str.split('a')

In [ ]:
s.str.len()

In [ ]:
s.str.strip()

In [ ]:
s.str.replace("A", '1')

:::



::: {#exm-}
We could also use `.str` to play with column names and row indexes.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(3, 2),
                  columns=[" Column A ", " Column B "], index=range(3))

df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df

:::

String methods are usually used with regular expressions. For more details please see @sec-re.






<!-- 

- `pd.Series.map()`, `pd.DataFrame.apply()`


::: {#exm-}

In [ ]:
import pandas as pd
import numpy as np

data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                     'Pastrami', 'corned beef', 'Bacon',
                     'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
    }

data['animal'] = data['food'].str.lower().map(meat_to_animal)

data['food'].map(lambda x: meat_to_animal[x.lower()])

:::

- `replace`
- `rename` -->
<!-- - `pd.cut(ages, bins)` -->
<!--- `describe`
- `permutation`
- `sample`
- dummy variables -->


## Data Wrangling

### Tidy data


The same underlying data can be represented in multiple ways. To better study the data, it is better to make these data *tidy*.

::: {#def-}
A dataset is *tidy* if

1. Each variable have its own column.
2. Each observation have its own row.
3. Each value have its oven cell.
:::



::: {.callout-note collapse="true"}
# Typical examples of tidydata

These `DataFrame` are provided by `tidyr`. We will talk about them again when we get to R. These tables can be downloaded by clicking the names.


1. [`table1`](assests/datasets/table1.csv)

In [ ]:
#| echo: true
import pandas as pd
table1 = pd.read_csv('assests/datasets/table1.csv', index_col='Unnamed: 0')
table1

2. [`table2`](assests/datasets/table2.csv)

In [ ]:
#| echo: true
import pandas as pd
table2 = pd.read_csv('assests/datasets/table2.csv', index_col='Unnamed: 0')
table2

3. [`table3`](assests/datasets/table3.csv)

In [ ]:
#| echo: true
import pandas as pd
table3 = pd.read_csv('assests/datasets/table3.csv', index_col='Unnamed: 0')
table3

4. Spread across two `DataFrame`s: [`table4a`](assests/datasets/table4a.csv) and [`table4b`](assests/datasets/table4b.csv):

In [ ]:
#| echo: true
import pandas as pd
table4a = pd.read_csv('assests/datasets/table4a.csv', index_col='Unnamed: 0')
table4b = pd.read_csv('assests/datasets/table4b.csv', index_col='Unnamed: 0')
table4a

In [ ]:
#| echo: true
table4b

Among all these `DataFrame`s, only `table1` is tidy.

:::



These three conditions are interrelated because it is impossible to only satisfy two of the three. In pratical, we need to follow the instructions:

1. Put each dataset in a `DataFrame`.
2. Put each variable in a column.
3. Every row is about one obeservation.

*Tidy* data is a consistent way to organize your data. The main advantages are:

1. It is one consistent way of storing data. In other words, this is a consistent data structure that can be used in many cases.
2. To placing variables in columns enables Python to do vectorized operations.



Most datasets are untidy, since tidy data is usually not intuitive for collecting. Therefore raw data which are collected by some naive ideas are usually not tidy. 

Untidy data are usually:

- One variable might be spread across multiple columns.
- One observation might be scattered across multiple rows.



::: {.callout-note collapse="true"}
# `.melt()` method

A common problem is that the column names are not names of variables, but values of a variable. For example, `table4a` above has columns `1999` and `2000`. These two names are actually the values of a variable `year`. In addition, each row represents two observations, not one.

In [ ]:
#| echo: false
table4a

To tidy this type of dataset, we need to gather those columns into a new pair of variables. We need three parameters:

- The set of columns that represent values. In this case, those are `1999` and `2000`.
- The name of the variable. In this case, it is `year`. 
-The name of the variable whose values are spread over the cells. In this case, it is the number of `cases`. 

Then we apply `.melt()`.

In [ ]:
table4a.melt(id_vars=['country'],
             value_vars=['1999', '2000'],
             var_name='year',
             value_name='cases')

We can do the similar thing to `table4b`.

In [ ]:
table4b.melt(id_vars=['country'],
             value_vars=['1999', '2000'],
             var_name='year',
             value_name='population')

::: {.callout-tip}
In Python there are multiple different ways to change a wide `DataFrame` to be longer like `.melt()`. Among all of them, `.melt()` is the most common one.
:::

:::



::: {.callout-note collapse="true"}
# `.pivot()` method


Another issuse is that an observation is scattered across multiple rows. Take `table2` as an example. 

An observation is a country in a year, but each observation is spread across two rows.

In [ ]:
table2

We could apply `.pivot()` to make it tidy. Here we need two arguments.

- The column that contains variable names. Here, itâ€™s `type`.
- The column that contains values forms multiple variables. Here, itâ€™s `count`.

In [ ]:
table2.pivot(index=['country', 'year'], columns='type', values='count')

<!-- 


`pivot_wider()` is an updated approach to `spread()`, designed to be both simpler to use and to handle more use cases. We recommend you use `pivot_wider()` for new code; `spread()` isn't going away but is no longer under active development. -->

:::



::: {.callout-note collapse="true"}
# Split and combine columns

If we would like to split one columns into multiple columns since there are more than one values in a cell, we could use `Series` string method to split it.

In [ ]:
table3['newrate'] = table3['rate'].str.split('/')
table3

If we prepare two columns from the beginning, we could directly get two columns. Note that the argument `expand=True` means that we want to get a `DataFrame` by expanding dimensionality. More details can be found [here](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html).

In [ ]:
table3[['cases', 'population']] = table3['rate'].str.split('/', expand=True)
table3.drop(columns=['rate', 'newrate'], inplace=True)
table3

Similarly we could also combine columns just as they are strings.

In [ ]:
table3['another_rate'] = table3['cases']+'/'+table3['population']
table3

:::




### Hierarchical indexing {#sec-hierindexing}
Pandas support a more complex indexing system, that the index may have multiple levels. See the following example.


::: {.callout-note collapse="true"}
# An example

In [ ]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
                 index = [['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                          [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

You may look at the Series using different levels of indexes.

In [ ]:
data['a']

In [ ]:
data.loc[:, 2]

You may use groupby to group by levels and do calculations related to levels. More `.groupby()` will be discussed in the next section.

In [ ]:
data.groupby(level=1).sum()

:::




From the example above, you may notice that the 2-level hierarchical indexing for a Series works very similar to a DataFrame. In fact, you may translate it back and forth between a 2-level indexing Series and a DataFrame.

In [ ]:
df = data.unstack()
df

In [ ]:
df.stack()

For DataFrame the index for both axes can be multiindex. The usual indexing way can be used if you want to start from the first level of the index. The more specific method to extract data is `.xs`.



::: {.callout-note collapse="true"}
# An example

In [ ]:
import pandas as pd

df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)

df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)

df = pd.concat([df1, df2], keys=['x', 'y'])

In [ ]:
df

In [ ]:
df['A']

In [ ]:
df.loc['x']

In [ ]:
df.loc['x',3]

In [ ]:
df.xs(3, level=1, drop_level=False)

:::




### Combining and Merging Datasets
`merge` and `concat` are the two most common ways to combine datasets. 

::: {.callout-note collapse="true"}
# `pd.merge()` function
Merge combines datasets by linking rows using one or more keys. This is from relational databases (e.g., SQL-based). 

Here are some examples. 

::: {#exm-}

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

The two DataFrames are displayed as follows.

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2, on='key')

If the column names are different in each object, you can specify them separately.

In [ ]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

:::

By default `merge` does an inner join, that the keys in the result are the interesection found in both tables. Below are different types of `merge`. To specify the method for merge, the option is `how`.

- `inner`
- `left`
- `right`
- `outer`

Let's see the following examples.




::: {.grid}

::: {.g-col-6}

In [ ]:
df1 = pd.DataFrame({'Key': [1, 2], 'A': [0, 2], 'B': [1, 3]})
df1

:::

::: {.g-col-6}

In [ ]:
df2 = pd.DataFrame({'Key': [1, 3], 'C': [0, 2], 'D': [1, 3]})
df2

:::

:::



::: {.grid}


::: {.g-col-6}

In [ ]:
pd.merge(df1, df2, on='Key', how='inner')

:::


::: {.g-col-6}

In [ ]:
pd.merge(df1, df2, on='Key', how='outer')

:::

:::



::: {.grid}


::: {.g-col-6}

In [ ]:
pd.merge(df1, df2, on='Key', how='left')

:::

::: {.g-col-6}

In [ ]:
pd.merge(df1, df2, on='Key', how='right')

:::

:::



::: {.callout-note}
If a key combination appears more than once in both tables, the resulting table will have the Cartesian product of the associated data. Here is a very basic example with one unique key combination.

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                    'data1': range(6)})
df2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],
                    'data2': range(5)})
pd.merge(df1, df2, on='key', how='left')

:::


::: {.callout-note} 
If the merge keys in a DataFrame is in its index instead of column(s), we could pass `left_index=True` or `right_index=True` or both instead of setting `left_on`/`right_on`/`on`.
:::


::: {#exm-crossexample-deck}
If we want to really create a Cartesian product, we may use the option `how='cross'`. For example, we would like to generate a deck of cards, we may use the following codes.

In [ ]:
suit = pd.DataFrame({'suit': ['spades', 'hearts', 'clubs', 'diamonds']})
face = pd.DataFrame({'face': list(range(1, 14))})
deck = pd.merge(suit, face, how='cross')

:::



:::









::: {.callout-note collapse="true"}
# `pd.concat()` function
The `concat()` function (in the main pandas namespace) performs concatenation operations along an axis while performing optional set logic (union or intersection) of the indexes (if any) on the other axes.

In [ ]:
import pandas as pd

df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)

df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)

df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],
)

pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])

The default way of `pd.concat()` is vertically. Note that it will check the column names. If the column names don't match, new columns will be created and `nan` values will be assigned. 

If you want to concatenate the DataFrame horizontally you need to add `axis=1` option.
Similarly, row index will be checked before concatenating. See the following example.

::: {#exm-}

In [ ]:
pd.concat([df1, df2, df3], axis=1)

:::



::: {#exm-}
Consider the deck example from @exm-crossexample-deck. This time we would like to use `pd.concat()` to get the result.

In [ ]:
suitlist = ['spades', 'hearts', 'clubs', 'diamonds']
facelist = list(range(1, 14))
decklist = [pd.DataFrame({'suit': suit, 'face': facelist}) for suit in suitlist]
deck = pd.concat(decklist, ignore_index=True)

:::
:::



## Data Aggregation and Group Operations

### split-apply-combine model

We would like to apply group operations based on the split-apply-combine model. 

- In the first stage of the process, data contained in a pandas object is *split* into groups based on one or more keys that you provide. We then use `.groupby(keys)` to perform the split step. The result is a grouped `groupby` object.
- Once this is done, a function is *applied* to each group, producing a new value. 
- Finally the results of all those function applications are combined into a result object. We may apply groupby functions directly as methods to groupby objects.The result is the combined result object.


::: {.callout-note collapse="true"}
# An example

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

Now we want to group `data1` in `df` by `key1`.

In [ ]:
grouped = df['data1'].groupby(df['key1'])
grouped

What we get is a groupby object and we could apply group functions to it.

The method to look at each group is `.get_group()`.

In [ ]:
grouped.get_group('a')

We may directly apply some group functions to the groupby object.

In [ ]:
grouped.mean()

In [ ]:
grouped.size()

We could iterate over groups.

In [ ]:
for name, group in grouped:
    print('name', name)
    print('group', group)

We could convert the group object into list and dictionary.

In [ ]:
list(grouped)

In [ ]:
dict(list(grouped))

:::

### Built-in aggregation functions

The following functions directly work with groupby objects. You may try them by yourselves.

- `.describe()`
- `.count()`
- `.sum()`
- `.mean()`
- `.median`
- `.std()`, `.var()`
- `.min()`, `.max()`
- `.prod()`
- `.first()`, `.last()`
<!-- - `.agg()` -->



### Function Application and Mapping
We may apply functions to each row/column of a `DataFrame`. If the function is a built-in function that is compatible with `DataFrame`, you can directly call the function that it will be applied automatically to each row/column. If it is not, we can call `apply` to get the desired result. 


::: {.callout-note collapse="true"}
# `map`
To understand the behaviour of `map`, you may treat it as a loop, through a `Series`. `pandas` goes through each item in the `Series` and perform operations as instructed. If there is a returned value, it will be recorded along the `Sereis`.

In [ ]:
import pandas as pd

ind = pd.Series(['Ohio', 'Colorado', 'New York'])
ind

In [ ]:
ind.map(lambda x: x[:4].upper())

In the example we go through each item in `ind`. Each item is a string. We pick the first 4 characters, and change them to be upper case.

Note that this operation can also be done by string method. These are two different methods but the results are the same.

In [ ]:
ind.str[:4].str.upper()

:::


::: {.callout-note collapse="true"}
# `apply`
`apply` is very similar to `map`, but for `DataFrame`. The default setting is to go through each column of a `DataFrame`, and the input is the column. You may use the argument `axis=1` to change it to go through each row. Please see the following example. 

::: {#exm-}

In [ ]:
import pandas as pd
data = pd.DataFrame(np.random.rand(4, 4),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
f = lambda x: x.max() - x.min()

data.apply(f)

Change `axis` to find the range for each row.

In [ ]:
data.apply(f, axis=1)

:::


We can use more complicated function to get more complicated result.

::: {#exm-}

In [ ]:
data = pd.DataFrame(np.random.rand(4, 4),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])

f = lambda x: pd.Series([x.max(), x.min()], index=['max', 'min'])

data.apply(f)

:::


:::





### Some examples


::: {#exm-}
Consider the following DataFrame.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'location': ['East', 'East', 'East', 'East',
                                'West', 'West', 'West', 'West'],
                   'data': np.random.randn(8)},
                   index=['Ohio', 'New York', 'Vermont', 'Florida',
                          'Oregon', 'Nevada', 'California', 'Idaho'])
df.loc[['Vermont', 'Nevada', 'Idaho'], 'data'] = np.nan
df

We would like to fill in NA values with the mean from each `location` group.

::: {.callout-tip collapse="true"}
# Tips

In [ ]:
#| warning: false
df.groupby('location', group_keys=False).apply(lambda x: x.fillna(x.mean()))

The argument `group_keys=False` refers to the setting whether you want to `group_keys` to be presented. If it is `True`, the result looks like this.

In [ ]:
#| warning: false
df.groupby('location', group_keys=True).apply(lambda x: x.fillna(x.mean()))

:::


We could also fill in NA values with predefined values, similar to the non-groupby case.

::: {.callout-tip collapse="true"}
# Tips

In [ ]:
#| warning: false
predefined = {'East': 0.1, 'West': -0.5}
df.groupby('location', group_keys=True).apply(lambda x: x.fillna(predefined[x.name]))

:::


:::




::: {.callout-tip}
# Chaining commands
You may chain commands to a `DataFrame`, just like the examples shown above. If the commands are too long:

- a `()` has to be used to indicate that this is a multiline command, and
- the line is broken before the `.` sybmol.

Please see the following example.

In [ ]:
(df.groupby('location', group_keys=False)
    .apply(lambda x: x.fillna(predefined[x.name]))
    .reset_index()
    .groupby('location')
    .max()
)

:::




<!-- ### Sorting and Ranking

- `.sort_values(by=)`
- `.rank(ascending=, method=)` -->




<!-- ### Summarizing and Computing Descriptive Statistics

- `sum`, `cumsum`
- `mean`, `median`
- `.describe()`
- `.cov`, `.corr` -->




<!-- ### Reading and Writing Data in Text Format
- `read_csv`
- `read_excel`
- `df.to_csv` -->


<!-- ### Copies and views

- `inplace` -->





## Read and write files

### Read files

In most cases we will read data from a `csv` file or an `excel` file. 


::: {.callout-note collapse="true"}
# Read `csv` files
A `csv` file is a plain txt file, with a fixed format. It consists of rows and columns. Rows are separated by newline symbol, which is usually `\n`. Columns are separated by a separator. Common separators include empty spaces` `, comma `,`, semi-column `;`, tab space `\t`. There might be other speical separators, depending on the creators of the specific `csv` files. 

In `pandas`, you may use `pd.read_csv()` function to read a `csv` file. 

1. The argument `sep` is used to set separators. The default is `,`.
2. The argument `names` is used to set the column names. Otherwise the column names will be generated and is highly unlikely to be directly usable.
3. The argument `header` will choose the header row and only parse the lines after it. If there is no header, you may set `header=None`.
4. The argument `index_col` is used to set the index column(s). If it is `False`, the index will be automatically generated from `0`. If it is set to a list of columns, the result will be a multi-index system.

You may read the [document](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) for more arguments.

Please see the following example.

::: {#exm-}
The file is [`yob1880.txt`](assests/datasets/yob1880.txt). This is from the US Baby names dataset. It provides the counts of each US baby names born in 1880. You may use any txt editor to open the file. The first few rows are like the following:

```
Mary,F,7065
Anna,F,2604
Emma,F,2003
Elizabeth,F,1939
Minnie,F,1746
Margaret,F,1578
```
It seems that `sep` is the default `,`. So you may directly directly read it into a `DataFrame` by `pd.read_csv()`.

In [ ]:
import pandas as pd

df = pd.read_csv('assests/datasets/yob1880.txt')
df.head()

Please look at the header of the `DataFrame`. It is supposed to be the first data. Therefore there is no header in the original file. So the correct way to read the file is

In [ ]:
import pandas as pd

df = pd.read_csv('assests/datasets/yob1880.txt',
                 header=None,
                 names=['Name', 'Sex', 'Counts'])
df.head()

:::

:::





::: {.callout-note collapse="true"}
# Read Excel files
`pandas` provides `pd.read_excel()` function to read Excel files. Since Excel files are much more complicated than `csv` files, it requires more setting. One of the most important different setting is the engine. `pandas` needs you to specify a way (an engine) to understand Excel files. For the newer Excel file `.xlsx`, it is recommended to use the engine `openpyxl`. 

If you don't have `openpyxl` installed, you may use the following code to install it.

```{.bash}
pip install openpyxl
```

Many options, like `header`, `names` and `index_col`, are very similar to `pd.read_csv()`. Some additional remarks:

1. There is no `sep` argument since columns are not separated based on separators.
2. The argument `sheet_name` is used to choose which sheet(s) you want to read.
3. The argument `nrows` is used to set the number of rows to parse.

You may read the [document](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) for more arguments.


::: {#exm-}
The file can be downloaded from [here](assests/datasets/prepost.xlsx). This is the result of the Pre-Post test of a class for the course COURSE1001. You may first use Microsoft Office or other spreadsheet applications to open the file to have some ideas what it look like. 

Here is the screenshot of the first few columns. `Last` and `First` refers to the last name and the first name of the student, while `Last0X` and `First0X` are students' fake names.

![](assests/img/20230212225803.png)  

Note that this files contains two `DataFrame`s. 

- The first is the result of the pretest, which is from row 3 to row 11, with the header row 2. 
- The second is the result of the posttest, which is from row 15 to row 23, with the header row 14. 
To read the file, the code is as follows:

In [ ]:
import pandas as pd

df_pre = pd.read_excel('assests/datasets/prepost.xlsx',
                       engine='openpyxl',
                       header=2, 
                       nrows=10)
df_pre

In [ ]:
df_post = pd.read_excel('assests/datasets/prepost.xlsx',
                        engine='openpyxl',
                        header=14,
                        nrows=10)                      
df_post

It seems that the original files have an additional column `Unnamed: 13` containing `nan` values that should be dropped. Then it is not necessary to read it from the original file. Here we could use the argument `usecols` to select the first 13 columns. We only show the example of pretest result.

In [ ]:
df_pre = pd.read_excel('assests/datasets/prepost.xlsx',
                       engine='openpyxl',
                       header=2, 
                       nrows=10,
                       usecols=list(range(13)))
df_pre

:::

:::

### Write files

We will only talk about writing in `csv`. The function is `df.to_csv()`. It is straightforward.

- The argument `index` is used to control whether you want to write index into the file. The default is `True`. If the index doesn't contain any real information, we usually set it to be `False`.




## Example: Movies

Below we explore the MovieLens 1M datasets. You may download it from this [link](assests/datasets/movies.dat). This is a `.dat` file, and you may use the following code to read it into a `DataFrame`.

In [ ]:
import pandas as pd
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('assests/datasets/movies.dat', sep='::',
                       header=None, names=mnames, engine="python",
                       encoding='ISO-8859-1')
movies.head()

In this example we concentrate on exploring the genres information. We first want to find all genres in this dataset. The idea is:

- split each item in the `genres` column by `|` to get a list.
- go through each item in the `genres` column, and union all lists together.

This can be done by the `map` function.


::: {.callout-tip collapse="true"}
# Tips

In [ ]:
all_genres = list()
movies['genres'].map(lambda x: all_genres.extend(x.split('|')))

`all_genres` is the list of all genres (with duplicates).

In the output of the above code you may see many `None` in each row. This is because the lambda function used in `map` doesn't have a return value. However after applying the function to each row, new genres information is added to the list `all_genres`.
:::

Then we would like to drop all the duplicates to get the list of all unique genres.

::: {.callout-tip collapse="true"}
# Tips

In [ ]:
genres = pd.unique(all_genres)
genres

`genres` is the list of all unique genres.
:::

In [ ]:
#| echo: false
#| eval: false
all_genres = list()
movies['genres'].map(lambda x: all_genres.extend(x.split('|')))

genres = pd.unique(all_genres)

dummies = pd.DataFrame(np.zeros((len(movies), len(genres))), columns=genres)

for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

movies_windic = movies.join(dummies.add_prefix('Genre_'))

## Exercises
Many problems are based on @Pra2018a.



::: {#exr-}
Let `df` be a `DataFrame`. Please answer the following questions in a Markdown cell.

1. What does `df[0]` do?
2. What does `df[[0]]` do?
3. What does `df[0:1]` do?
:::



::: {#exr-}
Please use the following code to generate a series `ser`, and then finish the following tasks.

In [ ]:
import pandas as pd
import numpy as np


mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

1. Convert the series `ser` into a dataframe `df` with its index as another column on the dataframe.
2. Pick the two columns of `df` and set them into two serieses `ser1` and `ser2`. 
3. Combine two series `ser1` and `ser2` to form a new dataframe `newdf`, and name their columns `ser1` and `ser2`.
:::




::: {#exr-}
Consider two serieses `ser1` and `ser2`. You may use the following `ser1` and `ser2` as an example. The output of each questions below should be a series. You may want to learn the following commands:

- [`np.union1d()`](https://numpy.org/doc/stable/reference/generated/numpy.union1d.html)
- [`np.intersect1d()`](https://numpy.org/doc/stable/reference/generated/numpy.intersect1d.html)
- [`np.isin()`](https://numpy.org/doc/stable/reference/generated/numpy.isin.html)

In [ ]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

1. Find all the elements from `ser1` that are also in `ser2`.
2. Find all the elements from `ser2` that are also in `ser1`.
3. From `ser1` remove items present in `ser2`.
4. Find the union of `ser1` and `ser2`.
5. Find the intersection of `ser1` and `ser2`.
6. Find all the elemetns that are in either `ser1` or `ser2`, but not both.
:::



::: {#exr-}
Consider the following `DataFrame`.

In [ ]:
import pandas as pd

data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])

1. Please select the column `two`.
2. Please select the second and the third row.
3. Please find the rows that the column `three` value is bigger than `5`.
4. Please find the last row that the column `three` value is bigger than `5`.
5. Please find the rows that the column `three` value is bigger than `5`, and display the resulted `DataFrame` with only `Colorado` and `Utah` row and `four` and `one` columns, in the specified order.
:::


<!-- 
::: {#exr-}
## Some statistics
Please check the following commands and answer the following questions.

- [`np.percentile()`](https://numpy.org/doc/stable/reference/generated/numpy.percentile.html)

How to get the minimum, 25th percentile, median, 75th, and max of a numeric series? You may use the following Series as an example.

In [ ]:
import pandas as pd
ser = pd.Series(np.random.normal(10, 5, 25))

::: -->



::: {#exr-}
Consider the following `Series`.

In [ ]:
import pandas as pd
import numpy as np
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

1. Please use `pd.Series.value_counts()` to calculte the frequency counts of each unique value of the following Series.
2. Please keep the top 2 most frequent items of `ser` as it is and replace everything else as `Other`.
:::

<!-- 
::: {#exr-}
Please keep the top 2 most frequent items of `ser` as it is and replace everything else as `Other`.

In [ ]:
import pandas as pd
import numpy as np
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

::: -->

<!-- 
::: {#exr-}
Please use `pd.cut` or `pd.qcut` to bin the Series `ser` into 10 equal deciles. You may use the following `ser` as an example.

In [ ]:
import pandas as pd
ser = pd.Series(np.random.random(20))

::: -->


::: {#exr-}
Consider the Series `ser`:

In [ ]:
import pandas as pd
import numpy as np
ser = pd.Series(np.random.randint(1, 10, 7))

Find the positions of numbers that are multiples of 3 from ser.
:::






::: {#exr-}
Compute the mean of `weights` of each `fruit`.

In [ ]:
import pandas as pd
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
df = pd.DataFrame({'fruit': fruit, 'weights': weights})

:::


::: {#exr-}
Consider the following DataFrame.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

1. Check if `df` has any missing values.
2. Please count the number of missing values in each column.
3. Please replace all missing values in `Min.Price` and `Max.Price` with their mean respectively.

<!-- 3. In the original DataFrame, please replace the missing values in `Min.Price` with the column's mean and those in `Max.Price` with the column's median. -->
:::




<!-- 
::: {#exr-}
Replace the spaces in `my_str = 'dbc deb abed gade'` with the least frequent character.
::: -->
<!-- 

::: {#exr-}
Suppress scientific notations like `e-03` in `df` and print up to 4 numbers after decimal.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df

::: -->

<!-- 
::: {#exr-}
Format the values in column `random` of `df` as percentages.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.random(4), columns=['random'])
df

::: -->

<!-- 
::: {#exr-splitacolumnofadf}
`table3` can be downloaded from [here](assests/datasets/table3.csv). Please use the following code to get the `DataFrame`.

In [ ]:
import pandas as pd
table3 = pd.read_csv('assests/datasets/table3.csv', index_col='Unnamed: 0')
table3['newrate'] = table3['rate'].str.split('/')

Please read cases and populations from the column `newrate` and write them into columns to make the original `table3` tidy.
::: -->


::: {#exr-}
Get the last two rows of `df` whose row sum is greater than 100.

In [ ]:
import pandas as pd
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

:::



::: {#exr-}
The groupby object `df_grouped` is given below.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'price': np.random.rand(9),
                   'taste': np.random.randint(0, 11, 9)})

df_grouped = df.groupby(['fruit'])

1. Get the group belonging to `apple` as a DataFrame.
2. Find the second largest value of `taste` for `banana`.
3. Compute the mean `price` for every `fruit`.
:::


::: {#exr-}

Join `df1` and `df2` by `fruit`/`pazham` and `weight`/`kilo`.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

:::










::: {#exr-}
Consider the following DataFrame.

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

1. Replace `NaN` with string `missing` in columns `Manufacturer`, `Model` and `Type`.
2. Create an index as a combination of these three columns.

:::


::: {#exr-}
Given the following DataFrame.

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'name': ['James', 'Jane', 'Melissa', 'Ed', 'Neil'],
    'age': [30, 40, 32, 67, 43],
    'score': ['90%', '95%', '100%', '82%', '87%'],
    'age_missing_data': [30, 40, 32, 67, None],
    'income':[100000, 80000, 55000, 62000, 120000]
})

- Please use `.map` to create a new column `numeric_score` whose value is the number version of `score`. 
- Please use `.apply` to create a new column `numeric_score` whose value is the number version of `score`. 
:::





::: {#exr-}
The following DataFrame is given.

In [ ]:
import pandas as pd
df = pd.DataFrame(["STD, City    State",
                   "33, Kolkata    West Bengal",
                   "44, Chennai    Tamil Nadu",
                   "40, Hyderabad    Telengana",
                   "80, Bangalore    Karnataka"],
                   columns=['row'])

Please create a new DataFrame out of `df` by spliting it into three columns based on `,` and four spaces. In addition, the column names of the new DataFrame are given by the first row of `df`.
:::